[Unit]
Description=Arivon OS First Boot Welcome
After=network-online.target ssh.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/arivon firstboot
StandardOutput=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
